
<div class="center">
    <h1 style="text-align: center;">Forget Password?</h1>
    <br>
    <mat-form-field style="width:300px;">
        <mat-label>Your Email Address:</mat-label>
        <input matInput type="email" #email>
      </mat-form-field>
      <button color="primary" mat-raised-button [disabled]="!validEmail(email.value)" 
        (click)="submitEmail(email.value)">
        Submit
      </button>
      <h3 style="color: red;" *ngIf="email.value && !validEmail(email.value)">
        Example of valid email: myEmail@gmail.com
      </h3>
</div>
