
<div class="center">
    <h1 style="text-align: center;">Forget Password?</h1>
    <br>
    <div style="display: flex; justify-content:center;">
        <mat-form-field style="width:375px; margin: 20px;">
            <mat-label>Your Email Address:</mat-label>
            <input matInput type="email" #email>
            <span class="error" *ngIf="email.value && !validEmail(email.value)">
                Example of valid email: myEmail@gmail.com
            </span>
        </mat-form-field>
        <mat-form-field style="width:300px;margin: 20px;">
            <mat-label>New Password:</mat-label>
            <input matInput  #password>
            <span class="error" *ngIf="password.value && password.value.trim().length <8">
                Must be of 8 characters minimum.
            </span>
        </mat-form-field>
    </div>
    <button style="left: 50%; transform: translateX(-50%);" color="primary" mat-raised-button 
    [disabled]="!validEmail(email.value) || password.value.trim().length <8"
    (click)="resetPassword(email.value, password.value)">
        Submit
    </button>
</div>

