
<div class="container">
    <br>
    <h1 style="text-align: center">Stock Search</h1>
    <br>
    <div style="text-align: center; justify-content: center;  align-items: center">
            <label style="font-size:20px" for="query">Query for Stock:</label>
            <input style="margin:0px 10px 0px 10px; font-size: large; color: blueviolet;" type="text" name="query" size="50" #query>
            <button style="font-size: large;" type="button" (click)="searchStocks(query.value)">Submit</button>
    </div>

    <hr>

    <div *ngIf="stockList.length>0">
        <h1 style="text-align:center">Search Result:</h1>
        <table class="center">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Type</th>
                <th>Stock Exchange</th>
            </tr>
            <tr *ngFor="let stock of stockList">
                <td>{{stock.symbol}}</td>
                <td>
                    <a [routerLink]="['/details', stock.symbol]" >
                        <span>{{stock.name}}</span>
                    </a>
                </td>
                <td>{{stock.type}}</td>
                <td>{{stock.stockExchange}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="message.length>0">
        <h1 style="text-align: center; padding: 50px">{{message}}</h1>
    </div>
</div>
